h1 {color: rgb(234, 234, 248);font-size: xx-large;font-style: italic;text-align: center;}

header {
  background-color: #1408bc;
  text-align: center;
  padding: 5px;
}
body {background-color: rgb(0, 0, 0);}