body {background-color: rgb(19, 133, 179);
  background-image: url(imagens/wp2937273.webp);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
 background-attachment: fixed;
 }

h1 {color: rgb(236, 236, 240);font-size: xx-large;font-style: italic;text-align: center;
}

header {

  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
  border: spacing 5px;
  padding-block-end: 10%;
}


nav {
    backface-visibility: hidden;
    padding: 1%;
    font-size: x-large;
    font-style: italic;
   
    

}
.nav-links a{
  text-transform: uppercase;
  text-align: center;
  text-decoration-line: none;
  color: rgb(210, 197, 197);
  font-size: x-large;
   
   
  
}
.nav-links{
  list-style-type: none;
  
}
.nome{
  color: aliceblue;
}
.ano{
  color: aliceblue;
}
.descricao {
  color: aliceblue;
}